<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>HTML5峰会2013_HTML5守望者_HTML5开发者日</title>
    <%- Loader("/assets/index.min.css", "/assets/index.min.js")
    .css("/assets/a.css")
    .css("/assets/b.css")
    .css("/assets/c.less")
    .js("/assets/a.js")
    .js("/assets/b.js")
    .done(assetsMap, CDN) %>
  </head>
  <body>
    <pre>
    &lt;%- Loader("/assets/index.min.css", "/assets/index.min.js")
    .css("/assets/a.css")
    .css("/assets/b.css")
    .css("/assets/c.less")
    .js("/assets/a.js")
    .js("/assets/b.js")
    .done(assetsMap, CDN) %&gt;
    </pre>
    Debug =>
    <pre>
      &lt;script src="/assets/a.js?v=1370513502908"&gt;&lt;/script&gt;
      &lt;script src="/assets/b.js?v=1370513502908"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" href="/assets/a.css?v=1370512506883" media="all"&gt;
      &lt;link rel="stylesheet" href="/assets/b.css?v=1370512506883" media="all"&gt;
      &lt;link rel="stylesheet" href="/assets/c.less?v=1370512506883" media="all"&gt;
    </pre>
    Production =>
    <pre>
      &lt;script src="/assets/index.min.eedc86f9.js"&gt;&lt;/script&gt;
      &lt;link rel="stylesheet" href="http://h5conf.qiniudn.com/assets/index.min.14720086.css" media="all"&gt;
    </pre>
  </body>
</html>
